body{
	margin:0px;
}
.one{
	background-color:#bb3000;
	padding:50px;
	text-align:center;

}
.one h1{
	margin:0px;
	padding:05px;
	font-size:40px;
}
.one h1,.three span{
	font-family: 'El Rio Lobo';
	color:orange;
}

.one h3{
	margin:0px;
	padding:10px;
	color:white;
	font-size:25px	
}
.two{
	background-color:steelblue;
	padding:10px;
}
.two img{
	margin:0px auto;
	display:block;
	min-height:500px
}
.three{
	text-align:right;
	background-image:url(../images/cuzco2.jpg);
	background-repeat:no-repeat;
	height:600px;
	background-size:cover
}
.three p{
	font-size:30px;
	margin:0px;
	color:white;
}

.four span{
	text-align:center;
	margin:0px;
	padding:10px;
	color:black;
	font-size:90px;
	font-family: 'El Rio Lobo';
}
.four{
	text-align: center;
}